.prose
    %h2 About Me
    %h3 Introduction
    %p I'm a #{my_age_in_years} year old geek from Birmingham, England who can normally be found working on my laptop in one of the various coffeshops around the city. Online, I am known as #{link_to "iHiD", "http://twitter.com/iHiD"}.
    %p
        I offset the hours I spend in front of a screen by playing lots of sport. I play football (soccer for the Americans) and I climb reguarly. I used to play Ultimate Frisbee, serving as the president of the University of Birmingham team and played for UTB (Ultimate Team Birmingham), captaining them in 2005 in the top division. I once held the world record for the longest ever game of Ultimate.
    %p
        I am the
        %span{style:"word-wrap:normal"} co-founder
        and CTO of New Media Education where I manage several projects including #{link_to "Meducation", "https://www.meducation.net"} - a social education network for doctors and medical students, #{link_to "Ordino", "http://www.ordinoapp.com"} - a tool for organising your education and #{link_to "The Medical Search", "http://themedicalsearch.com"} - a search engine for medical professionals.
    %p I'm passionate about open source and lot of what we do at New Media is released under open source licences, including the popular #{link_to "Propono", "http://meducation.github.io/propono"} library. I also contribute to other open source projects where I can (including #{link_to "Rails", "https://github.com/rails/rails/commits/master?author=ihid"}, #{link_to "Foreigner", "https://github.com/matthuhiggins/foreigner/commits/master?author=ihid"}, #{link_to "HAML", "https://github.com/nex3/haml"} and #{link_to "Kronic", "https://github.com/xaviershay/kronic/commits/master?author=ihid"}) and have from time to time been involved with helping Katrina Owen on the excellent #{link_to "Exercism.io", "http://exercism.io"} project.

    %p I eat and socialise at #{link_to "Monday Night Pie Night", "http://www.mondaynightpienight.com"}.

    %h3 I'm a Geek
    %p
        I have been programming since the age of 8, originally writing games in AMOS for the Amiga. I have a degree in
        %em Computer Science &amp; Artificial Intelligence
        and have been writing commercial applications since 2004.
    %p
        I have been building web applications in
        %em Ruby on Rails Rails since 2005
        and have a deep understanding of both Ruby and the Rails framework. I am comfortable with the full web stack -
        %em Linux web servers,
        server-side technologies such as
        %em SQL
        and
        %em memcache,
        and client-side technologies such as
        %em CoffeeScript,
        %em jQuery
        and
        %em Ember.js.
    %p
        I have written large embedded desktop applications in
        %em C#
        iPhone apps in
        %em Objective C, and dabbled with Android.
        I am familiar with a wide variety of other languages (my university final year project was in PHP) and have a strong interest in Artificial Intelligence.

    %h3 An Entrepreneur
    %p I have always been someone to carve my own path in life.
    %P I quit my day job in 2008, founding a software development company. A year later, I co-founded #{link_to "Meducation", "https://www.meducation.net"}, a social education network for medics, with my long-term friend #{link_to "Dr Alastair Buick", "http://twitter.com/albuick"}. I stopped taking new clients in my first company in 2010 and started working full time on Meducation, which continues to grow from strength to strength.
