.prose
    %h2 Welcome!
    %p Hey there. I'm Jeremy Walker, a software developer and entrepreneur from sunny England. I am the co-founder and CTO of #{link_to "Meducation", "https://www.meducation.net"}. I am known online as #{link_to "iHiD", "http://twitter.com/iHiD"}.
    %p I maintain several #{link_to "open source projects", projects_path} including #{link_to "Propono", "http://meducation.github.io/propono"}, #{link_to "Larva", "http://meducation.github.io/larva"}, #{link_to "Super STI", "http://github.com/iHiD/super_sti"}, #{link_to "Loquor", "http://meducation.github.io/loquor"} and #{link_to "Inquisitio", "http://meducation.github.io/inquisitio"}. I'm also a contributor to the amazing #{link_to "Exercism.io", "http://exercism.io"}.
    %p I write technical posts on #{link_to "on my blog", blog_posts_path} and as a #{link_to "guest writer for other sites", "/writing"}. If you would like me to write for you, please contact me.
    %p You can follow me on #{link_to "Twitter", "https://twitter.com/ihid"}, check out my work on #{link_to "Github", "http://github.com/ihid"} or contact me #{link_to "via email", "mailto:jez.walker@gmail.com"}.

%a.twitter-timeline{href:"https://twitter.com/iHiD", "data-widget-id" => "296995136372609024"} Tweets by @iHiD
:javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
