.prose
    %h2 Open Source
    %p I'm passionate about open source and try to contribute to OS projects wherever possible. A lot of the code that is written at my company is released under open source licences.

    %p Here are some of the projects that I maintain:

    %ul#projects
        %li
            = link_to "Propono", "http://meducation.github.io/propono"
            \- The popular pub/sub Ruby library built on AWS.
        %li
            = link_to "Larva", "http://meducation.github.io/larva"
            \- A wrapper around Propono for quickly building services in an SOA.
        %li
            = link_to "Inquisitio", "http://meducation.github.io/inquisitio"
            \- An ActiveRecord-style wrapper around AWS Cloudsearch
        %li
            = link_to "Loquor", "http://meducation.github.io/loquor"
            \- A library giving an ActiveRecord-style interface to RESTful API calls.
        %li
            = link_to "Filum", "http://meducation.github.io/filum"
            \- A simple logging Library for Ruby that adds a consistent context id through log messages.
        %li
            = link_to "Super STI", "http://github.com/iHiD/super_sti"
            \- A set of improvements to Rails built in STI support.
        %li
            = link_to "Ember Infinite Pagination", "https://github.com/iHiD/ember-infinite-pagination"
            \- A popular infinite pagination solution for Ember
        %li
            = link_to "belongs_to_enum", "https://github.com/iHiD/belongs_to_enum" 
            \- Enum Support for Rails (Now build into Rails 4)
        %li
            = link_to "National Rail JSON API", "https://github.com/iHiD/national_rail"
            \- A resful JSON API wrapper built on top of the National Rail SOAP API
        %li
            = link_to "Rails Email Tracker", "https://github.com/iHiD/email_tracker"
            \- A gen for tracking emails in Rails applications.

    %p You can find the source code for all of these and many other projects on #{link_to "Github", "https://github.com/iHiD"}.

    %p I have also contributed to projects that I do not maintain, such as #{link_to "Rails", "https://github.com/rails/rails/commits/master?author=ihid"}, #{link_to "Foreigner", "https://github.com/matthuhiggins/foreigner/commits/master?author=ihid"}, #{link_to "HAML", "https://github.com/nex3/haml"} and #{link_to "Kronic", "https://github.com/xaviershay/kronic/commits/master?author=ihid"}). When I get the chance I help Katrina Owen on the excellent #{link_to "Exercism.io", "http://exercism.io"} project.

