%h2 Who Am I?
%h3 A Person
%p 
    I'm a #{my_age_in_years} year old guy from Birmingham, England. I'm married to the beautiful #{link_to "Liz", "http://twitter.com/#!/serethia"} and I am the technical 
    %span{style:"word-wrap:normal"} co-founder 
    of #{link_to "Meducation", "https://www.meducation.net"}. I can normally be found working on my laptop in one of the various Starbucks around the city. I love sport and play football three times a week. I used to play Ultimate Frisbee, and was president of them University of Birmingham team and played UTB (Ultimate Team Birmingham), captaining them in 2005 in the A tour. I eat and socialise at #{link_to "Monday Night Pie Night", "http://www.mondaynightpienight.com"}.

%h3 A Geek
%p 
    I have been programming since the age of 12, original writing games for my Amiga in Basic. I have a degree in 
    %em Computer Science & Artificial Intelligence
    and have been writing production applications since 2004.
%p 
    I have been writing web applications in 
    %em Rails since 2005 
    and have a deep understanding of both Ruby and the Rails framework. I am comfortable with the full web stack - 
    %em Linux web servers,
    server-side technologies such as 
    %em SQL
    and 
    %em memcache,
    and client-side technologies such as 
    %em Coffeescript,
    %em JQuery
    and 
    %em Backbone.
%p 
    I have written large embedded desktop applications in 
    %em C# 
    and an iPhone app in
    %em Objective C. 
    I am familiar with a wide variety of other languages (my university final year project was in <em>PHP</em>) and have a strong interest in Artificial Intelligence.
%p
    I am a big believer in 
    %em open source
    and have contributed to various projects including #{link_to "Rails", "http://github.com/rails/rails"}, #{link_to "Foreigner", "https://github.com/matthuhiggins/foreigner"}, #{link_to "HAML", "https://github.com/nex3/haml"} and #{link_to "Kronic", "https://github.com/xaviershay/kronic"}. I have several #{link_to "public repositories on Github", "http://github.com/ihid"} and maintain two gems: #{link_to "super_sti", "http://rubygems.org/gems/super_sti"} and #{link_to "belongs_to_enum", "http://rubygems.org/gems/belongs_to_enum"}.

%h3 An Entrepreneur
%p I have always wanted to carve my own path in life and make my mark on the world.
%P I quit my day job in 2008, founding a software development company. A year later, I co-founded #{link_to "Meducation", "https://www.meducation.net"}, a social educational network for medics, with my long-term friend #{link_to "Dr Alastair Buick", "http://twitter.com/albuick"}. I wound down my first company in 2010 and started working full time on Meducation, which continues to grow from strength to strength.