%h2 Speaking
%h3 Introduction
%p I have recently started speaking at conferences. If you would like me to speak at your conference, or submit a proposal, #{link_to "please let me know", "mailto:jez.walker@gmail.com"}!
=image_tag("speaking.jpg", class:'image', alt: "Jeremy Walker (iHiD) speaking at Frozen Rails")
.image_credit Speaking at Frozen Rails 2012. Photo by #{link_to "Maxim Filatov", "https://plus.google.com/101500913881556971089/posts?banner=pwa"}.

%h3 Talks
%h4.title How to be a Productive Developer
%p My first talk, given at the Frozen Rails conference, on how to be a more productive developer. A humorous, yet informative talk with a specific focus on Ruby and Rails developers.
%p Developing software can be an incredibly exciting, but also very challenging occupation. We can easily become bogged down in what we are doing, or feel overwhelmed by the challenges we face. This interesting, fun talk looks at how we can to get the most from our days and what we can do to keep enjoying writing software, even when it gets tough.
%p A special thanks to #{link_to "Zed Shaw", "http://twitter.com/zedshaw"} for his material that I referenced, and to #{link_to "Steve Klabnik", "http://twitter.com/steveklabnik"} for being a great sport and counter-trolling me so expertly!
%ul 
    %li= link_to "Slides from Frozen Rails", "http://www.speakerdeck.com/u/ihid/p/how-to-be-a-productive-developer"
    %li= link_to "Reaction From Frozen Rails", image_path("tweets/frozen_rails_2012.png")
    
%h3 Upcoming Conferences
%table 
    %colgroup
        %col{style: 'width:250px'}
        %col{style: 'width:180px'}
        %col
    %tr
        %th Conference
        %th Date
        %th Talk
    %tr
        %td= link_to "Digital Doctor Conference", "http://www.lanyrd.com/2012/digidoc"
        %td December 7<sup>th</sup> 2012
        %td TBC

%h3 Previous Conferences
%table 
    %colgroup
        %col{style: 'width:250px'}
        %col{style: 'width:180px'}
        %col
    %tr
        %th Conference
        %th Date
        %th Talk
    %tr
        %td= link_to "Frozen Rails 2012", "http://www.lanyrd.com/2012/frozenrails"
        %td September 21<sup>st</sup> 2012
        %td How to be a Productive Developer 