.prose
    %h2 Writing
    %p As well as writing on my blog, I also write as a guest author for other websites. Here are some articles that have been published on other website:
    %ul 
        %li
            =link_to "Backbone.js, Coffeescript, Jasmine, Haml and Rails working together", "http://www.ihid.co.uk/blog/backbone-js-coffeescript-jasmine-haml-and-rails-working-together"
            \- Featured in
            #{link_to "Ruby Weekly", "http://rubyweekly.com"},
            #{link_to "Javascript Weekly", "http://javascriptweekly.com"} 
            and on
            #{link_to "Ruby5", "http://ruby5.envylabs.com/episodes/279-episode-275-may-25th-2012/stories/2453-getting-started-with-jasmine"}
        %li
            = link_to "Techniques To Secure Your Website With Ruby on Rails (Part 1)", "http://rubysource.com/techniques-to-secure-your-website-with-ruby-on-rails-part-1"
            \ - Written for RubySource.
        %li
            = link_to "Techniques To Secure Your Website With Ruby on Rails (Part 2)", "http://rubysource.com/techniques-to-secure-your-website-with-ruby-on-rails-part-2"
            \ - Written for RubySource.
        %li
            = link_to "Techniques To Secure Your Website With Ruby on Rails (Part 3)", "http://rubysource.com/techniques-to-secure-your-website-with-ruby-on-rails-part-3"
            \ - Written for RubySource.
        %li
            =link_to "Markup Your Blog Using schema.org", "http://www.ihid.co.uk/blog/markup-your-blog-using-schema-org"

    %h3 Would you like a guest author?
    %p I'd love to write for your website/magazine etc. Please #{link_to "contact me", "mailto:jez.walker@gmail.com"} if you're interested.
