!!! 5
%html
    %head
        %title= html_title
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Euphoria+Script', media: 'all'
        = stylesheet_link_tag '//f.fontdeck.com/s/css/o6QfaKWxqPEublQOv9rluKl/2c4/www.ordinoapp.com/42127.css', media: 'all'
        = csrf_meta_tags

        %meta{name:"google-site-verification", content:"6VD3DtSnJfVMNRAmWeFIhecUhhllVaJsjnwxQu2ac6w"}

        =canonical_link
        %link{rel:"shortcut icon", href:image_path('favicon.ico')}

    %body

        %header{itemscope:'', itemtype:'http://schema.org/WPHeader'}
            %h1
                = link_to root_path do
                    =image_tag "header_image.jpg", id: "header_image"
                    .name Jeremy Walker
            = link_to "Software Developer & Social Entrepreneur", root_path, class: 'tagline'

        %nav
            .container
                = link_to "Home", root_path
                = link_to "About", about_path
                = link_to "Open Source", open_source_path
                = link_to "Blog", blog_posts_path
                = link_to "Writing", writing_path
                = link_to "Speaking", speaking_path

        %main
            =content_for?(:content) ? yield(:content) : yield

        %footer{itemscope:'', itemtype:'http://schema.org/WPFooter'}
            .container
                &copy; Jeremy Walker (iHiD) 2005 - 2014
                .powered_by Site designed and created by #{link_to "iHiD", "http://www.ihid.co.uk"}.

        =javascript_include_tag "application"

        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17313109-2']);
            _gaq.push(['_setDomainName', 'ihid.co.uk']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        =javascript_include_tag "http://code.jquery.com/jquery-2.1.1.min.js"
        :javascript
            $(window).scroll(function () {
                fix = $(window).scrollTop() > $('header').outerHeight();
                console.log(fix);

                if(fix) {
                    $("body").addClass("fixed-nav");
                }
                else {
                    $("body").removeClass("fixed-nav");
                }
            });

        %script{src:"http://yandex.st/highlightjs/6.2/highlight.min.js"}
        %link{rel:"stylesheet", href:"http://yandex.st/highlightjs/6.2/styles/github.min.css"}
        %script
            hljs.showLineNumbers = true;
            hljs.stripEmptyLines = true;
            hljs.initHighlightingOnLoad();

        %script{type:"text/javascript", src:"http://w.sharethis.com/button/buttons.js"}
        :javascript
            stLight.options({publisher: "12d6b158-bc08-4e54-bd03-bddc4d7beaba", doNotHash: true, doNotCopy: true, hashAddressBar: false});
