!!! 5
%html
    %head
        %title= html_title
        
        =stylesheet_link_tag "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        =canonical_link
        %link{rel:"shortcut icon", href:image_path('favicon.ico')}
        
        %script{type:"text/javascript", src:"http://use.typekit.com/oag0rhd.js"}
        %script{type:"text/javascript"} try{Typekit.load();}catch(e){}
        
        %meta{name:"google-site-verification", content:"6VD3DtSnJfVMNRAmWeFIhecUhhllVaJsjnwxQu2ac6w"}
        
        %script{src:"http://yandex.st/highlightjs/6.2/highlight.min.js"}
        %link{rel:"stylesheet", href:"http://yandex.st/highlightjs/6.2/styles/github.min.css"}
        %script 
            hljs.showLineNumbers = true;
            hljs.stripEmptyLines = true;
            hljs.initHighlightingOnLoad();
            
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17313109-2']);
            _gaq.push(['_setDomainName', 'ihid.co.uk']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    
    %body
        %header{itemscope:'', itemtype:'http://schema.org/WPHeader'}
            .inner
                %h1= link_to "iHiD", root_path
                %h2= link_to "by Jeremy Walker - 75kg human · 175g plastic", root_path
                =image_tag "header_image.jpg", id: "header_image"
        
        #header_shadow
        #main
            %nav{itemscope:'', itemtype:'http://schema.org/WPSideBar'}
                %h3 Introduction
                %ul 
                    %li= link_to "Home", root_path
                    %li= link_to "About Me", page_path('about')
                    %li= link_to "Writing", page_path('writing')
                    %li= link_to "Speaking", page_path('speaking')
                    %li= link_to "Projects", projects_path
                %h3 Recent Blog Posts
                %ul 
                    -latest_blog_posts.each do |blog_post|
                        %li= link_to truncate("#{blog_post.title}", length:28), blog_post, title:blog_post.title
                    %li{style:"margin-top:5px"}= link_to "Browse All Posts", blog_posts_path, class: "btn"
                %h3 Open Source Projects
                =render "projects/nav"
            
            #content
                =content_for?(:content) ? yield(:content) : yield
        %footer{itemscope:'', itemtype:'http://schema.org/WPFooter'}
            &copy; Jeremy Walker (iHiD) 2012
            .powered_by Designed and created by #{link_to "iHiD", "http://www.ihid.co.uk"}.
            
        %script{type:"text/javascript", src:"http://w.sharethis.com/button/buttons.js"}
        :javascript
            stLight.options({publisher: "12d6b158-bc08-4e54-bd03-bddc4d7beaba"});