!!! 5
%html
    %head
        %title= html_title
        =stylesheet_link_tag "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        %script{type:"text/javascript", src:"http://use.typekit.com/oag0rhd.js"}
        %script{type:"text/javascript"} try{Typekit.load();}catch(e){}
    
    %body
        %header
            .inner
                %h1 iHiD
                %h2 The online home of Jeremy Walker
                =image_tag "header_image.jpg", id: "header_image"
        
        #header_shadow
        #main
            %nav
                %h3 Introduction
                %ul 
                    %li= link_to "Home", root_path
                    %li= link_to "About Me", page_path('personal')
                    %li= link_to "About My Work", page_path('professional')
                %h3 More Interesting Stuff
                %ul
                    %li= link_to "My Blog", "#"
                    %li 
                        =link_to "Open Source Contributions", projects_path
                        =render "projects/nav"
            
            #content
                =yield
        %footer
            &copy; Jeremy Walker 2012
            .powered_by Designed and created by me, powered by #{link_to "Rails", "http://www.rubyonrails.org"}.