!!! 5
%html
    %head
        %title= html_title
        =stylesheet_link_tag "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        %script{type:"text/javascript", src:"http://use.typekit.com/oag0rhd.js"}
        %script{type:"text/javascript"} try{Typekit.load();}catch(e){}
    
    %body
        %header
            .inner
                %h1= link_to "iHiD", root_path
                %h2= link_to "The online home of Jeremy Walker", root_path
                =image_tag "header_image.jpg", id: "header_image"
        
        #header_shadow
        #main
            %nav
                %h3 Introduction
                %ul 
                    %li= link_to "Home", root_path
                    %li= link_to "About Me", page_path('personal')
                    %li= link_to "About My Work", page_path('professional')
                %h3 My Thoughts
                %ul 
                    %li= link_to "My Blog", blog_posts_path
                %h3 Open Source
                =render "projects/nav"
            
            #content
                =content_for?(:content) ? yield(:content) : yield
        %footer
            &copy; Jeremy Walker 2012
            .powered_by Designed and created by me, powered by #{link_to "Rails", "http://www.rubyonrails.org"}.